<!doctype html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <title>Invoices</title>

    {% block head %}

    {% endblock %}
</head>
<body>
    {% block content %}

    {% endblock %}
</body>
</html>