<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">Invoices</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="{{ urlFor('invoices') }}">My Invoices</a></li>
        </ul>
    </div>
</nav>