<?php

return array(
    'database' => array(
        'hostname' => '', // Database hostname
        'username' => '', // Username
        'password' => '', // Password
        'dbname' => '', // Database name
        'port' => '', // Port, 3306 by default
    ),
    'stripe' => array(
        'test' => array(
            'secret' => '',
            'publishable' => ''
        ),
        'live' => array(
            'secret' => '',
            'publishable' => ''
        )
    )
);